<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="content-language" content="de" />
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Sans">
    <link href="css/screen.css" type="text/css" rel="stylesheet" media="screen,projection" />

    <title>aidGer - {{ page.title }}</title>
  </head>
  <body>
	<div id="background-bar"></div>
  
    <div id="layout">
    
		<div id="header">
        
			<h1 id="logo"><a href="index.html">aidGer</a></h1>
			<hr class="noscreen" />   
			  
				  
			<div id="navigation">
			<ul>
			  <li><a href="index.html">HOME</a></li>
			  <li><a href="features.html">FEATURES</a></li>
			  <li><a href="screenshots.html">SCREENSHOTS</a></li>			  
			  <li><a href="development.html">ENTWICKLUNG</a></li>
			  <li><a href="about.html">ÜBER UNS</a></li>
			</ul>
			</div>
			<hr class="noscreen" />  
    
      </div>
      
		<div id="main">
			{{ content }}
		</div>
		
        </div>
        <div id="footer">
        <div id="footer-inside">
        <p id="copyright">Copyright &copy; 2010 - <a href="/">aidGer Team</a></p>
        
        <!-- Please don't delete this. You can use this template for free and this is the only way that you can say thanks to me -->
          <p id="dont-delete-this">Design by <a href="http://www.davidkohout.cz">David Kohout</a></p>
        <!-- Thank you :) -->
        
        </div><div style="clear: both;"></div></div>
  </body>
</html>
